@using GHSContratoWeb.Aggregation;
@using GHSContratoWeb.Models.Business;
@using GHSContratoWeb.Models.Mapping;
@using GHSContratoWeb.Models.Helper;
@{ List<MenuAggregation> lista = new MenuBusiness().ListarMenus();

    Usuario usuario = new Utils().Usuario;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GHS - Contratos</title>
    <link rel="icon" href="~/Content/Imagens/logo (1).png" type="image/icon type">
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--   Core JS Files   -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/core/jquery.3.2.1.min.js"></script>
    <!-- Fonts and icons -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../../Content/Templates/Atlantis-Lite-master/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/Content/Templates/Atlantis-Lite-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Templates/Atlantis-Lite-master/assets/css/atlantis.min.css">
    <link href="~/Content/css/style.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="~/Content/Templates/Atlantis-Lite-master/assets/css/demo.css">
</head>
<body>
    <div class="wrapper">
        <div class="main-header" style="background-color: rgba(31,120,50) !important">
            <!-- Logo Header -->
            <div class="logo-header">
                <a href="@Url.Action("Index","Home")" class="logo">
                    <img src="~/Content/Imagens/Logo-Branca-Ghs.png" alt="navbar brand" class="navbar-brand" />
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Login")" class="nav-link">
                                <span style="font-style: italic; color: #343c54 !important">Sair</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content  mt-0 mt-lg-5">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="~/Content/Templates/Atlantis-Lite-master/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @if (usuario == null)
                                    {
                                        
                                    }
                                    else
                                    {
                                        @usuario.Nome
                                    }
                                    <span class="user-level">Administrator</span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <div class="clearfix"></div>
                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Index","Login")">
                                            <span class="link-collapse">Sair</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-primary" style="padding: 0 !important; list-style-type: none !important;">
                        <li class="nav-item active">
                            <a href="@Url.Action("Index", "Home")" style="background-color: #343c54 !important">
                                <i class="fas fa-home"></i>
                                <p style="margin-left: -5px;">Início</p>
                            </a>
                        </li>
                        @{ int count = 1;
                            foreach (var item in lista)
                            {
                                <li class="nav-item">
                                    <a data-toggle="collapse" href="#submenu-@count">
                                        <span class="material-icons-outlined" style="color: #c0beb3 !important;"><i class="fa @item.Icone me-2"></i></span>
                                        <p class="ml-2">@item.Nome</p>
                                        @if (item.Submenu.Count > 0)
                                        {
                                            <span class="caret"></span>}
                                    </a>

                                    @if (item.Submenu.Count > 0)
                                    {
                                        <div class="collapse" id="submenu-@count">
                                            <ul class="nav nav-collapse" style="padding: 0 !important; list-style-type: none !important;">
                                                @{ foreach (var submenuPrimario in item.Submenu)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action(submenuPrimario.Action, submenuPrimario.Controller)">
                                                                <span class="sub-item">@submenuPrimario.Nome</span>
                                                            </a>
                                                        </li>
                                                    } }

                                            </ul>
                                        </div>}
                                </li>
                                count++;
                            } }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="container" style="background-color: #343c54 !important">
                @RenderBody()
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                    </nav>
                    <div class="copyright ml-auto">
                        <img src="~/Content/Imagens/logo (1).png" class="mr-2" style="width: 32px; height: 32px;" />
                        &copy; @DateTime.Now.Year <a href="" target="_blank">Milani Sistemas</a>
                    </div>
                </div>
            </footer>
        </div>

    </div>


    <!-- End Custom template -->
    <!--   Core JS Files   -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/core/popper.min.js"></script>
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Datatables -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/plugin/datatables/datatables.min.js"></script>
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/responsive.bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap Notify -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Sweet Alert -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="~/Content/Templates/Atlantis-Lite-master/assets/js/setting-demo.js"></script>

    <!-- Template Javascript -->
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>

    <script>
        $(function () {
            let dtPadrao = $('.dtPadrao').dataTable({
                responsive: true,
                bPaginate: true,
                bFilter: true,
                destroy: true,
                "lengthChange": false,
                "language": {
                    "emptyTable": "Nenhum registro encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Mostrando 0 de 0",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Pesquisar:",
                    "zeroRecords": "Nenhum registro encontrado",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordernar em order crescente",
                        "sortDescending": ": ordenar em ordem decrescente"
                    }
                }
            });
        });
    </script>
</body>
</html>