@using GHSContratoWeb.Aggregation;
@using GHSContratoWeb.Models.Business;
@using GHSContratoWeb.Models.Mapping;
@using GHSContratoWeb.Models.Helper;
@{ List<MenuAggregation> lista = new MenuBusiness().ListarMenus();

    Usuario usuario = new Utils().Usuario; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Atlantis Lite - Bootstrap 4 Admin Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="../Content/Templates/Atlantis-Lite-master/assets/img/icon.ico" type="image/x-icon" />
    <!--   Core JS Files   -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/core/jquery.3.2.1.min.js"></script>
    <!-- Fonts and icons -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../Content/Templates/Atlantis-Lite-master/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../Content/Templates/Atlantis-Lite-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/Templates/Atlantis-Lite-master/assets/css/atlantis.min.css">
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="../Content/Templates/Atlantis-Lite-master/assets/css/demo.css">
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" style="background-color: #228B22">
                <a href="index.html" class="logo">
                    <img src="~/Content/Imagens/logo (2).png" alt="navbar brand" class="navbar-brand" style="height: 40px; width: 40px">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" style="background-color: #228B22">
                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item">
                            <a href="../Content/Templates/Atlantis-Lite-master/assets/examples/demo1" class="nav-link">
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content  mt-0 mt-lg-5">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="../Content/Templates/Atlantis-Lite-master/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    Hizrian
                                    <span class="user-level">Administrator</span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <div class="clearfix"></div>
                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="#profile">
                                            <span class="link-collapse">Sair</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-primary" style="padding: 0 !important; list-style-type: none !important;">
                        <li class="nav-item active">
                            <a href="@Url.Action("Index", "Home")" style="background-color: #343c54 !important">
                                <i class="fas fa-home"></i>
                                <p style="margin-left: -5px;">Início</p>
                            </a>
                        </li>
                        @{ int count = 1;
                            foreach (var item in lista)
                            {
                <li class="nav-item">
                    <a data-toggle="collapse" href="#submenu-@count">
                        <span class="material-icons-outlined" style="color: #c0beb3 !important;"><i class="fa @item.Icone me-2"></i></span>
                        <p class="ml-2">@item.Nome</p>
                        @if (item.Submenu.Count > 0)
                        {
        <span class="caret"></span>}
                    </a>

                    @if (item.Submenu.Count > 0)
                    {
    <div class="collapse" id="submenu-@count">
        <ul class="nav nav-collapse" style="padding: 0 !important; list-style-type: none !important;">
            @{ int count2 = 1;
                foreach (var submenuPrimario in item.Submenu)
                {
<li>
    <a data-toggle="collapse" href="#subnav-@count2">
        <span class="sub-item">@submenuPrimario.Nome</span>
    </a>
    <div class="collapse" id="subnav-@count2">
        <ul class="nav nav-collapse subnav" style="padding: 0 !important; list-style-type: none !important;">
            <li>
                <a href="@Url.Action(submenuPrimario.Action, submenuPrimario.Controller)">
                    <span class="sub-item">@submenuPrimario.Nome</span>
                </a>
            </li>
        </ul>
    </div>
</li> } 
                }

        </ul>
    </div>}
                </li> count++;
                            } 
                }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="container">
                @RenderBody()
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                    </nav>
                    <div class="copyright ml-auto">
                        <img src="~/Content/Imagens/logo-32x32.png" class="mr-2" style="width: 32px; height: 32px;" />
                        &copy; @DateTime.Now.Year <a href="http://www.bwinformatica.com.br/" target="_blank">BW Sistemas</a>
                    </div>
                </div>
            </footer>
        </div>

    </div>


    <!-- End Custom template -->
    <!--   Core JS Files   -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/core/popper.min.js"></script>
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/setting-demo.js"></script>
    <script src="../Content/Templates/Atlantis-Lite-master/assets/js/demo.js"></script>
    <script>
        Circles.create({
            id: 'circles-1',
            radius: 45,
            value: 60,
            maxValue: 100,
            width: 7,
            text: 5,
            colors: ['#f1f1f1', '#FF9E27'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-2',
            radius: 45,
            value: 70,
            maxValue: 100,
            width: 7,
            text: 36,
            colors: ['#f1f1f1', '#2BB930'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-3',
            radius: 45,
            value: 40,
            maxValue: 100,
            width: 7,
            text: 12,
            colors: ['#f1f1f1', '#F25961'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

        var mytotalIncomeChart = new Chart(totalIncomeChart, {
            type: 'bar',
            data: {
                labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
                datasets: [{
                    label: "Total Income",
                    backgroundColor: '#ff9e27',
                    borderColor: 'rgb(23, 125, 255)',
                    data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            display: false //this will remove only the label
                        },
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }]
                },
            }
        });

        $('#lineChart').sparkline([105, 103, 123, 100, 95, 105, 115], {
            type: 'line',
            height: '70',
            width: '100%',
            lineWidth: '2',
            lineColor: '#ffa534',
            fillColor: 'rgba(255, 165, 52, .14)'
        });
    </script>
</body>
</html>