@model GHSContratoWeb.Models.Mapping.EnderecoCliente
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-inner mt-5">
    <div class="page-header card-round" style="background-color: #ffffff">
        <h4 class="page-title ml-3">Cadastro Unidade Consumidora</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Home")" class="text-primary">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>Cadastros</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","UnidadeConsumidora")" class="text-primary">Unidade Consumidora</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>Cad. Unidade Consumidora</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-top-personalizada">
                @*<div class="card-header d-flex justify-content-between">
                        <h4 class="card-title">Cadastro Unidade Consumidora</h4>
                    </div>*@
                <div class="card-body">
                    <div class="">
                        <fieldset class="border p-4">
                            <legend class="float-none w-auto" style="font-size: 1.2em !important;">Unidade de Instalação</legend>
                            <div class="row">
                                @*<div class="col-12 col-md-1 px-0">
                                        <div class="form-group">
                                            <label for="ID">Código</label>
                                            <input type="text" name="ID" class="form-control form-control-sm" id="Codigo" maxlength="11" />
                                        </div>
                                    </div>*@
                                <div class="col-12 col-md-12 px-0">
                                    <h4>@Model.Observacao</h4>
                                    <h4><span>@Model.Rua</span><span>@Model.Numero</span><span>@Model.Bairro</span><span>@Model.IDCidade</span><span>@Model.IDEstado</span></h4>
                                    @*<div class="form-group">
                                            <label for="Nome">Nome</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>*@
                                </div>
                                @*<div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="CPF">CPF</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>*@
                            </div>
                        </fieldset>
                    </div>
                    <hr />
                    <form action="@Url.Action("Cadastro","UnidadeConsumidora")" method="post">
                        <div class="tab" role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Padrão de Entrada</a></li>
                                <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Sistema Fotovoltaico</a></li>
                                <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Unidades Consumidoras Beneficiarias</a></li>
                                <li role="presentation"><a href="#Section4" aria-controls="messages" role="tab" data-toggle="tab">Acomodação dos Modulos</a></li>
                            </ul>
                            <hr />
                            <!-- Tab panes -->
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade show active" id="Section1">
                                    <div class="">
                                        <fieldset class="border p-4">
                                            <legend class="float-none w-auto" style="font-size: 1.2em !important;">Padrão de Entrada</legend>
                                            <div class="row">
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="Concessionaria">Concessionaria/Contato</label>
                                                        <input type="text" name="Concessionaria" class="form-control form-control-sm" id="CPF" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 px-0">
                                                    <div class="form-group">
                                                        <label for="FaturaEnergia">Apresentou Fatura de Energia?</label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="FaturaEnergia" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Sim</option>
                                                            <option value="2">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2 px-0">
                                                    <div class="form-group">
                                                        <label for="codigoUc">Código da UC</label>
                                                        <input type="text" name="codigoUc" class="form-control form-control-sm" id="codigoUc" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="demandaContratada">Demanda Contratada (KW)</label>
                                                        <input type="text" name="demandaContratada" class="form-control form-control-sm" id="demandaContratada" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="categoriaFases">Categoria (fases)</label>
                                                        <input type="text" name="categoriaFases" class="form-control form-control-sm" id="categoriaFases" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="disjuntor">Disjuntor</label>
                                                        <input type="text" name="disjuntor" class="form-control form-control-sm" id="disjuntor" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="bitolaEntrada">Bitola cabo entrada (mm²)</label>
                                                        <input type="text" name="bitolaEntrada" class="form-control form-control-sm" id="bitolaEntrada" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="tipoLigacao">Tipo de ligação</label>
                                                        <input type="text" name="tipoLigacao" class="form-control form-control-sm" id="tipoLigacao" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="qdca">Há QDCA?</label>
                                                        <input type="text" name="qdca" class="form-control form-control-sm" id="qdca" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 px-0">
                                                    <div class="form-group">
                                                        <label for="distanciaBitola">Distancia (m) e Bitola (mm²) Padrão até QDCA</label>
                                                        <input type="text" name="distanciaBitola" class="form-control form-control-sm" id="distanciaBitola" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="padraoEntrada">Padrão de entrada</label>
                                                        <input type="text" name="padraoEntrada" class="form-control form-control-sm" id="padraoEntrada" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="projetoMelhoria">Projeto de melhoria?</label>
                                                        <input type="text" name="projetoMelhoria" class="form-control form-control-sm" id="projetoMelhoria" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="consumo">Consumo (kWh/mês)</label>
                                                        <input type="text" name="consumo" class="form-control form-control-sm" id="consumo" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="aumentoCarga">Aumento de carga?(S)%</label>
                                                        <input type="text" name="aumentoCarga" class="form-control form-control-sm" id="aumentoCarga" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12 px-0">
                                                    <div class="form-group">
                                                        <label for="obsPertinentes">Observações Pertinentes</label>
                                                        <textarea type="text" name="obsPertinentes" class="form-control form-control-sm" id="obsPertinentes" maxlength="100"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Section2">
                                    <div class="">
                                        <fieldset class="border p-4">
                                            <legend class="float-none w-auto" style="font-size: 1.2em !important;">Sistema Fotovoltaico</legend>
                                            <div class="row">
                                                <div class="col-12 col-md-6 px-0">
                                                    <div class="form-group">
                                                        <label for="mediaGeracaoEstimada">Média de geração atual ESTIMADA (kWh/mês)</label>
                                                        <input type="text" name="mediaGeracaoEstimada" class="form-control form-control-sm" id="mediaGeracaoEstimada" maxlength="11" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 px-0">
                                                    <div class="form-group">
                                                        <label for="GeracaoEstimada">Geração estimada em 25 anos (kWh/mês)</label>
                                                        <input type="text" name="GeracaoEstimada" class="form-control form-control-sm " id="GeracaoEstimada" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 px-0">
                                                    <div class="form-group">
                                                        <label for="CapacidadeKWP">Capacidade (kWp)</label>
                                                        <input type="text" name="CapacidadeKWP" class="form-control form-control-sm" id="CapacidadeKWP" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 px-0">
                                                    <div class="form-group">
                                                        <label for="CapacidadeInversores">Capacidade Inversores (kW)</label>
                                                        <input type="text" name="CapacidadeInversores" class="form-control form-control-sm" id="CapacidadeInversores" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 px-0">
                                                    <div class="form-group">
                                                        <label for="QtdModulos">Quantidade de Módulos</label>
                                                        <input type="text" name="QtdModulos" class="form-control form-control-sm" id="QtdModulos" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="PotenciaTecnologica">Potência e Tecnologia (Wp)</label>
                                                        <input type="text" name="PotenciaTecnologica" class="form-control form-control-sm" id="PotenciaTecnologica" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="QtdInversores">Quantidade de Inversores</label>
                                                        <input type="text" name="QtdInversores" class="form-control form-control-sm" id="QtdInversores" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2 px-0">
                                                    <div class="form-group">
                                                        <label for="Potencia">Potencia (W)</label>
                                                        <input type="text" name="Potencia" class="form-control form-control-sm" id="Potencia" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 px-0">
                                                    <div class="form-group">
                                                        <label for="AreaAcomodacao">Área de acomodação (m²)</label>
                                                        <input type="text" name="AreaAcomodacao" class="form-control form-control-sm" id="AreaAcomodacao" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 px-0">
                                                    <div class="form-group">
                                                        <label for="AreaTelhado">Área telhado (m²)</label>
                                                        <input type="text" name="AreaTelhado" class="form-control form-control-sm" id="AreaTelhado" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="ProtecaoCC">Proteção C.C.</label>
                                                        <input type="text" name="Protecao" class="form-control form-control-sm" id="Protecao" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="ProtecaoCA">Proteção C.A.</label>
                                                        <input type="text" name="ProtecaoCA" class="form-control form-control-sm" id="ProtecaoCA" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2 px-0">
                                                    <div class="form-group">
                                                        <label for="Capacidade">Capacidade</label>
                                                        <input type="text" name="Capacidade" class="form-control form-control-sm" id="Capacidade" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-5 px-0">
                                                    <div class="form-group">
                                                        <label for="ValorFinalMF">Valor final do Material + Frete</label>
                                                        <input type="text" name="ValorFinalMF" class="form-control form-control-sm" id="ValorFinalMF" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-7 px-0">
                                                    <div class="form-group">
                                                        <label for="ValorFinalPSS">Valor final da Prestação de Serviço + Seguro (MATERIAL)</label>
                                                        <input type="text" name="ValorFinalPSS" class="form-control form-control-sm" id="ValorFinalPSS" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 px-0">
                                                    <div class="form-group">
                                                        <label for="ValorFinalTotal">Valor final Total</label>
                                                        <input type="text" name="ValorFinalTotal" class="form-control form-control-sm" id="ValorFinalTotal" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-8 px-0">
                                                    <div class="form-group">
                                                        <label for="Pagamento">Pagamento</label>
                                                        <input type="text" name="Pagamento" class="form-control form-control-sm" id="Pagamento" maxlength="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Section3">
                                    <div class="">
                                        <fieldset class="border p-4">
                                            <legend class="float-none w-auto" style="font-size: 1.2em !important;">Unidades Consumidoras Beneficiarias (UC'S')</legend>
                                            <div class="table-responsive">
                                                <table class="dtPadrao table-sm display table-striped table-hover w-100 table-bordered">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th>ID</th>
                                                            <th hidden>IDEnderecoCliente</th>
                                                            <th hidden>IDConsensionaria</th>
                                                            <th hidden>CodigoUnidadeConsumidora</th>
                                                            <th hidden>Observacao</th>
                                                            <th>Registro</th>
                                                            <th>Ativo</th>
                                                            <th class="text-center">Adicionar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*@{ foreach (var item in ViewBag.UnidadeConsumidoraBeneficiada)
                                                            {
                                                                <tr>
                                                                    <td>@item.ID</td>
                                                                    <td hidden>@item.IDEnderecoCliente</td>
                                                                    <td hidden>@item.IDConsensionaria</td>
                                                                    <td hidden>@item.CodigoUnidadeConsumidora</td>
                                                                    <td hidden>@item.Observacao.ToString()</td>
                                                                    <td>@item.DataHoraRegistro.Value.ToString("dd/MM/yyyy")</td>
                                                                    <td>@item.Ativo</td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-info btn-detalhes-cliente" name="btn-detalhes-cliente" data-toggle="modal" data-target="#modalcliente" data-id="@item.ID" style="color: white !important">Adicionar</a>
                                                                    </td>
                                                                </tr>
                                                            } }*@
                                                    </tbody>
                                                </table>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-12 col-md-8 px-0">
                                                    <div class="form-group">
                                                        <label for="UCBeneficiaria">UC Beneficaria 1</label>
                                                        <input type="text" name="UCBeneficiaria" class="form-control form-control-sm" id="UCBeneficiaria" maxlength="11" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="PE">Percentual do Exedente(%)</label>
                                                        <input type="text" name="PE" class="form-control form-control-sm " id="PE" maxlength="100">
                                                    </div>
                                                </div>
                                                <div style="margin-top: 33px !important; margin-right: -55px !important">
                                                    <a class="btn"><i class="fa fa-minus-circle"></i></a>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Section4">
                                    <div class="">
                                        <fieldset class="border p-4">
                                            <legend class="float-none w-auto" style="font-size: 1.2em !important;">Acomodação dos Modulos</legend>
                                            <div class="row">
                                                <div class="col-12 col-md-2 px-0">
                                                    <div class="form-group">
                                                        <label for="Orientacao">Orientação</label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="Orientacao" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Sim</option>
                                                            <option value="2">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2 px-0">
                                                    <div class="form-group">
                                                        <label for="Inclinacao">Inclinação</label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="Inclinacao" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Sim</option>
                                                            <option value="2">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="LocalInstalacao">Local de Instalação</label>
                                                        <input type="text" name="LocalInstalacao" class="form-control form-control-sm " id="LocalInstalacao" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2 px-0">
                                                    <div class="form-group">
                                                        <label for="IdadeTelhado">Idade do Telhado</label>
                                                        <input type="text" name="IdadeTelhado" class="form-control form-control-sm " id="IdadeTelhado" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="TipoTelhado">Tipo de telhado</label>
                                                        <input type="text" name="TipoTelhado" class="form-control form-control-sm " id="TipoTelhado" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="PesoSistema">Peso do Sistema (Kg)</label>
                                                        <input type="text" name="PesoSistema" class="form-control form-control-sm " id="PesoSistema" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="QualidadeTelhado">Qualidade do Telhado</label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="QualidadeTelhado" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Firme</option>
                                                            <option value="2">Meio Firme</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="Selado">&nbsp;</label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="Selado" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Selado</option>
                                                            <option value="2">Pouco</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="CorroidoDanificado">&nbsp;</label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="CorroidoDanificado" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Corroido</option>
                                                            <option value="2">Danificado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="EstruturaAjuste">Estrutura de Ajuste</label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="EstruturaAjuste" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Sim</option>
                                                            <option value="2">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="Serralheiro">Serralheiro</label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="Serralheiro" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Sim</option>
                                                            <option value="2">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="ObstaculosInternos">Obstáculos Internos <a href="#" title="Antenas, Cano de agua, etc..."><i class="fas fa fa-question"></i></a></label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="ObstaculosInternos" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Sim</option>
                                                            <option value="2">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 px-0">
                                                    <div class="form-group">
                                                        <label for="ObstaculosExternos">Externos <a href="#" title="Arvores, esquina..."><i class="fas fa fa-question"></i></a></label>
                                                        <select class="custom-select custom-select-sm mr-sm-2" name="ObstaculosExternos" id="inlineFormCustomSelect">
                                                            <option selected>-Selecione-</option>
                                                            <option value="1">Sim</option>
                                                            <option value="2">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12 col-md-12 px-0">
                                        <div class="form-group d-flex flex-row-reverse">
                                            <button type="submit" class="btn btn-success btn-sm d-flex align-items-center salvar-alert ml-1">Salvar</button>
                                            <a href="@Url.Action("Index","Cliente")" class="btn btn-dark btn-sm d-flex align-items-center">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<style>
    a:hover, a:focus {
        text-decoration: none;
        outline: none;
    }

    .tab {
        font-family: 'Nunito', sans-serif;
    }

        .tab .nav-tabs {
            background-color: transparent;
            border: none;
        }

            .tab .nav-tabs li a {
                color: #222;
                background: transparent;
                font-size: 10px;
                font-weight: 800;
                letter-spacing: 1px;
                text-align: center;
                text-transform: uppercase;
                padding: 15px 15px 10px;
                margin: 0;
                border: none;
                border-radius: 0;
                overflow: hidden;
                position: relative;
                z-index: 1;
                transition: all 0.3s ease 0s;
            }

            .tab .nav-tabs li:last-child a {
                margin-right: 0;
            }

            .tab .nav-tabs li a:hover,
            .tab .nav-tabs li.active a {
                color: #222;
                background: #fff;
                border: none;
            }

            .tab .nav-tabs li.active a {
                color: #6CBF1C;
            }

            .tab .nav-tabs li a:before,
            .tab .nav-tabs li a:after {
                content: "";
                background-color: #d1d1d1;
                height: 7px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all 0.5s ease 0s;
            }

            .tab .nav-tabs li a:after {
                background-color: #6CBF1C;
                height: 100%;
                opacity: 0;
            }

            .tab .nav-tabs li.active a:before,
            .tab .nav-tabs li a:hover:before {
                height: 100%;
                opacity: 0;
            }

            .tab .nav-tabs li.active a:after,
            .tab .nav-tabs li a:hover:after {
                height: 7px;
                opacity: 1;
            }

        .tab .tab-content {
            color: #555;
            background: #fff;
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 23px;
            padding: 20px;
        }

            .tab .tab-content h3 {
                color: #222;
                font-size: 22px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin: 0 0 7px 0;
            }
</style>
<script></script>

