@model List<GHSContratoWeb.Models.Mapping.EnderecoCliente>
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-inner mt-5">
    <div class="page-header card-round" style="background-color: #ffffff">
        <h4 class="page-title ml-3">Unidades</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Home")" class="text-primary">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>Cadastros</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>Unidades</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h4 class="card-title">Consulta de Unidades</h4>
                    <a href="@Url.Action("Novo","UnidadeConsumidora")" class="btn btn-sm btn-success d-flex align-items-center"><span class="ml-1">Novo</span></a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="dtPadrao table-sm display table-striped table-hover w-100 table-bordered">
                            <thead>
                                <tr class="text-dark">
                                    <th>ID</th>
                                    <th>IDCliente</th>
                                    <th>Rua</th>
                                    <th>Numero</th>
                                    <th>Bairro</th>
                                    <th>LocalInstalacao</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.IDCliente</td>
                                            <td>@item.Rua</td>
                                            <td>@item.Numero</td>
                                            <td>@item.Bairro</td>
                                            <td>@item.LocalInstalacao</td>
                                            <td>
                                                <a class="btn btn-sm btn-info btn-detalhes-cliente" name="btn-detalhes-cliente" data-toggle="modal" data-target="#modalcliente" data-id="@item.ID" style="color: white !important">Detalhes</a>
                                                <a class="btn btn-sm btn-primary" href="@Url.Action("Alterar","UnidadeConsumidora",new  {ID = @item.ID })">Alterar</a>
                                                <a class="btn btn-sm btn-danger" href="@Url.Action("Excluir","UnidadeConsumidora", new {ID = @item.ID })">Excluir</a>
                                            </td>
                                        </tr>
                                    } }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
